{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>    <title>My Profile: {{profile}}</title>
</head>
<body> -->
    <!-- <h1>My Profile</h1>
    <hr>
    <img src={{profile.avatar.url}}>
    <br>
    {{profile.avatar.url}}
    <br>
    {{profile.avatar}}
    <hr>
    {{profile.first_name}}
    <br>
    {{profile.last_name}}
    <br>
    {{profile.description}}
    <br>
    {{profile.get_friend_no}}
    <br> -->

    <div class="ui segment">

        <h3>my profile: {{request.user}}</h3>
        <div class="ui grid">
            <div class='row'>
                <div class='six wide column'>
                    <img class="ui medium rounded image" src={{profile.avatar.url}}> 
                </div>
                <div class="ten wide column">
                    <table class="ui table">
                        <tbody>
                            <tr>
                                <td>username</td>
                                <td>{{profile.user}}</td>
                            </tr>
                            <tr>
                                <td>first name</td>
                                <td>{{profile.first_name}}</td>
                            </tr>
                            <tr>
                                <td>last name</td>
                                <td>{{profile.last_name}}</td>
                            </tr>
                            <tr>
                                <td>bio</td>
                                <td>{{profile.description}}</td>
                            </tr>
                            <!-- <tr>
                                <td>number of followers</td>
                                <td>{{profile.get_followers_no}}</td>
                            </tr> -->

       
                            <!-- <tr>
                                <td>number of likes given</td>
                                <td>{{profile.get_likes_given_no}}</td>
                            </tr> -->
                            <!-- <tr>
                                <td>number of likes received</td>
                                <td>{{profile.num_likes}}</td>
                            </tr>
                            <div class="content">
                                <form action ="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name='account_id' value={{profile.id}}>
                                </form>
                                <button type ="submit" class ="ui primary button">Like</button>
                            </div>     -->
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- </body> -->